body {
	display: block;
	text-align: center;
	font-family: Arial;
	color: #333333;
	font-size: 13px;
	background-color: blue;
	height: 100%;
}


#menu-bar {
	display: inline-block;
	height: 40px;
	background-color: white;
	min-width: 800px;
	width: 100%;
	float: left
}

#menu-bar #last-button
{
	float: right;
}

#menu-bar>.btn-group-lg {
	float: left;
	height: 100%;
	vertical-align: middle;
}

#menu-bar .menu-group 
{
	height: 100%;
}


#menu-bar>.btn-group-lg> .btn:last-child{
	border-right-width: 1px;
}

#menu-bar .btn
{
	border-radius: 0px;
	border-width: 0px;
	border-color: black;
	background-color: white;
	color: black;
	height: 100%;
	font-size: 13px;
	padding-right: 5px;
	padding-left: 5px;
}

#menu-bar .glyphicon:before {
  color: white;
  padding: 3px 5px;
  margin-right: 2px;
  border-radius: 6px;
}

#menu-bar .glyphicon-arrow-left:before {
  background-color: green;
}

#menu-bar .glyphicon-arrow-right:before {
  background-color: orange;
}

#menu-bar .glyphicon-save:before {
  background-color: orange;
}

#menu-bar .glyphicon-record:before {
  background-color: #2c9e9e;
}

#menu-bar .glyphicon-search:before {
  background-color: #2c9e9e;
}

#menu-bar .glyphicon-remove:before {
  background-color: red;
}

#menu-bar .glyphicon-eye-open:before {
  background-color: green;
}

#payload-dropdown
{
	float: left;
	padding-top: 6px;
	margin-right: 13px;
}

#behaviour-dropdown
{
	float: left;
	padding-top: 6px;
}

#menu-bar p
{
	float: left;
	height: 25px;
	margin-left: 20px;
	margin-right: 5px;
	padding-top: 12px;
	text-align: center;
}

#menu-bar #coap-button
{
	float: right;
	height: 100%;
}


#sidebar-right
{
	float: right;
	background-color: yellow;
	min-width: 200px;
	height: 800px;
	border: 2px solid white;
}


#request
{
	overflow: hidden;
	background-color: green;
	height: 200px;
	border: 2px solid orange;

}


#container-down
{
	overflow: hidden;
	background-color: pink;
	height: 700px;
	border: 2px solid orange;

}


#sidebar-left
{
float: left;
	background-color: #3bf;
	height: 100%;
	border: 2px solid red;
	min-width: 200px;

}


#upper
{
	overflow: hidden;
	background-color: #888;
	height: 200px;
	border: 2px solid red;

}



#left-column
{
	background-color: #000;
	height: 100%;
	border: 2px solid red;
	width: 50%;
}

#right-column
{
	background-color: #59e;
	height: 100%;
	border: 2px solid red;
	width: 50%;
}

#info
{
	background-color: #0ff;
	overflow: hidden;
	height: 400px;
	border: 2px solid red;
}


