body {
	display: block;
	text-align: center;
	font-family: Arial;
	color: #333333;
	font-size: 12px;
	background-color: yellow;
	height: 100%;
	width: 100%;
	overflow: hidden;
}


#menu-bar {
	display: inline-block;
	height: 40px;
	background-color: white;
	min-width: 800px;
	width: 100%;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}

#menu-bar #last-button
{
	float: right;
}

#menu-bar>.btn-group-lg {
	float: left;
	height: 100%;
	vertical-align: middle;
}

#menu-bar .menu-group 
{
	height: 100%;
}


#menu-bar>.btn-group-lg> .btn:last-child{
	border-right-width: 1px;
}

#menu-bar .btn
{
	border-radius: 0px;
	border-width: 0px;
	border-color: black;
	background-color: white;
	color: black;
	height: 100%;
	font-size: 13px;
	padding-right: 5px;
	padding-left: 5px;
}

#menu-bar .glyphicon:before {
  color: white;
  padding: 3px 5px;
  margin-right: 2px;
  border-radius: 6px;
}

#menu-bar .glyphicon-arrow-left:before {
  background-color: green;
}

#menu-bar .glyphicon-arrow-right:before {
  background-color: orange;
}

#menu-bar .glyphicon-save:before {
  background-color: orange;
}

#menu-bar .glyphicon-record:before {
  background-color: #2c9e9e;
}

#menu-bar .glyphicon-search:before {
  background-color: #2c9e9e;
}

#menu-bar .glyphicon-remove:before {
  background-color: red;
}

#menu-bar .glyphicon-eye-open:before {
  background-color: green;
}

.icon-car {
    background-image: url(http://www.example.com/bck.png);
    height: 24px;
    width: 24px;
	}

#payload-dropdown
{
	float: left;
	padding-top: 6px;
	margin: 0 10px;
}

#behaviour-dropdown
{
	float: left;
	padding-top: 6px;
}

#menu-bar p
{
	float: left;
	height: 25px;
	margin-left: 20px;
	margin-right: 5px;
	padding-top: 12px;
	text-align: center;
}

#menu-bar #coap-button
{
	float: right;
	height: 100%;
}

#content .wrapper
{
	position: absolute;
	top: 40px;
	bottom: 0;
	width: 100%;
}

#container
{
	position: absolute;
	width: 100%;
	top: 40px;
	bottom: 0;
	background-color: white;
	text-align: left;
}


#top-wrapper{
	display: flex;
	position: relative;
	background-color: green;
	height: 100%;
	flex-direction: column;
}

#top-container{
	background-color: yellow;
}

.flex {
	flex: 1;
}

.vbox {
	display: flex;
	flex-direction: column;
}

.hbox {
	display: flex;
	flex-direction: row;
}

.box-label{
	padding: 6px;
	padding-left: 8px;
	padding-bottom: 0;
	margin: 0;
	font-size: 12px;
}


fieldset {
	border: 1px solid rgba(0, 0, 0, .2);
	margin: 4px;
	background-color: silver;
}

legend {
	border: none;
	font-size: 12px;
	width: 45px;
	margin: 0;
	margin-left: 7px;
	padding: 0 5px;
}

#resource_tree_container
{
	width: 16em;
}

#resource_tree
{
	margin: 4px;
}

#info_code
{
	font-size: 18pt; 
	font-weight: bold;
	overflow: hidden;
	padding: 0 10px;
	margin-top: 0px;
}

#packet_header
{
	width: 200px;
	margin: 4px;
	border: 1px black solid;
	background-color: white;
}


#packet_options
{
	margin: 4px;
	border: 1px black solid;
	background-color: white;
}

#packet_options table
{
	display: block;
	height: 100%;
	width: 100%;
}

#message_pane th, td
{
	padding:0 5px;
}

#tabbed-pane-payload
{
	overflow-y: auto;
	padding: 4px;
	width: 100%;
	height: 100%;
}

#tabbed-pane-payload p
{

	margin: 0; 
	padding: 0;
}

#sidebar {
	width: 18.5em;
}

#sidebar label {
	margin-top: 10px;
	margin-bottom: 5px;
}

#sidebar .checkbox 
{
	margin-bottom: 0;
}

#sidebar .checkbox > label
{
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
}



#sidebar .checkbox p {
	margin: 0;
	padding-top: 2px;
}

#sidebar p {
	margin: 0;
	margin-left: 2px;
	margin-top: 5px;
}

#sidebar .btn
{
	border-radius: 0px;
	border-width: 0px;
	border-color: black;
	background-color: white;
	color: black;
}

#reset-button
{
	border-radius: 5px;
	border-width: 0px;
	border-color: black;
	background-color: white;
	color: black;
	margin-left: 13px;
	height: 26px;
	padding: 0 17px;
	align-items: center;
}

#sidebar .caret
{
	padding: 0;
}

.text-input-custom {
  border:1px solid;
  padding:1px 5px 1px 1px;
  background: white;
}

.text-input-custom  input {
  border:none;
  background:white;
  outline:none;
  width: 0;
}

.text-input-custom  span {
  cursor:pointer;
  width: 5px;
  padding-right: 5px;
  padding-top: 2px;
  margin-left: 1px;
  font-weight:bold;
}

.dropdown-caret > a
{
	padding: 0;
	padding-right: 7px;
	padding-left: 3px;
	width: 5px;
}

.dropdown-caret {
	border-left: 1px solid;
	margin-left: 1px;
}


.dropdown-menu > li > a:hover {
    background-color: blue;
	color: white;
}

#sidebar-block-size > div
{
	margin-left: 6px;
}

#chk_debug_option_block_auto {
	margin-left: auto;
	margin-right: auto;
}

#log_messages {
	background-color: white;
	margin: 5px;
	border: 1px solid;
}


#log_messages table {
	display: flex;
    flex-direction: column;
}

#log_messages  tbody , #log_messages  thead{
    display: block;
	overflow-y: overlay
}

#log_messages thead{
	min-height: 20px;
}


#log_messages  tr {
    display: flex;
    flex-direction: row;
    flex: 1;
}

#log_messages td, #log_messages  th {
    display: block;
    flex-direction: column;
	text-align: left;
	padding-left: 5px;
	
}

#log_messages theadd::-webkit-scrollbar {
    width: 17px;
}



#log_messages td:nth-child(1), #log_messages  th:nth-child(1) {
    width: 50px;
}

#log_messages  td:nth-child(2), #log_messages  th:nth-child(2) {
    width: 100px;
}

#log_messages td:nth-child(3), #log_messages  th:nth-child(3) {
    width: 50px;
}

#log_messages td:nth-child(4), #log_messages  th:nth-child(4) {
    width: 65px;
}

#log_messages td:nth-last-child(-n+2), #log_messages  th:nth-last-child(-n+2) {
    display: block;
    flex-direction: column;
    flex: 1;
}


