/* General Settings and Classes */
html
{
	font-family: sans-serif;
}

label 
{
	display: inline-block;
	max-width: 100%;
	font-weight: bold;
}

img {
    vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
   min-width: 0;
   min-height: 0;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	display: block;
	font-family: sans-serif;
	color: #333333;
	font-size: 12px;
	background-color: #eee;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	line-height: 1.42857;
}

button
{
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

fieldset {
	border: 1px solid rgba(0, 0, 0, .2);
	margin: 4px;
	background-color: silver;
}

legend {
	border: none;
	font-size: 12px;
	width: 45px;
	margin: 0;
	margin-left: 7px;
	padding: 0 5px;
}

.white 
{
	background-color: white;
}

.border_solid
{
	border: 1px black solid;
}

.border_opacity
{
	border: 1px solid rgba(0, 0, 0, 0.2)
}

/* Flex Boxes */
.vbox {
	display: flex;
	flex-direction: column;
}

.hbox {
	display: flex;
	flex-direction: row;
}

.flex, .flex-filler{
	flex: 1;
}

/* Container */
.main-container
{
	position: absolute;
	width: 100%;
	min-width: 800px;
	height: 100%;
	min-height: 600px;
}

.main-content
{
	position: absolute;
	width: 100%;
	top: 35px;
	bottom: 0;
}

.main-content > *{
	margin: 4px;
}

/* Elements */
.main-toolbar {
	overflow: hidden;
	height: 35px;
	min-width: 728px;
	width: 100%;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}

.main-toolbar .toolbar-item
{
	display: inline-block;
	height: 100%;
}

.main-toolbar .border-right
{
	border-right: 1px black solid;
}

.main-toolbar button
{
	border-radius: 0px;
	border-width: 0px;
	border-color: black;
	background-color: #eee;
	color: black;
	height: 100%;
	font-size: 13px;
	padding-right: 5px;
	padding-left: 5px;
}

.main-toolbar button:not(.no-hover):hover
{
	background-color: #ddd;
}

#resource_tree_container
{
	border-right: 1px black solid;
	width: 16em;
}

#resource_tree
{
	margin: 4px;
}

#info_code
{
	font-size: 18pt; 
	font-weight: bold;
	overflow: hidden;
	padding: 0 10px;
	margin-top: 0px;
}

#copper-packet-in{
	min-height: 100px; 
	height: 100px;
}

#copper-packet-header
{
	width: 200px;
	margin: 4px;
	border: 1px black solid;
}

#copper-packet-header span
{
	padding-left: 4px;
}

#copper-packet-header .packet-header-element {
    width: 25%;
    min-width: 40px;
}

#copper-packet-header .packet-header-value {
    width: 75%;
}

#packet_options
{
	padding-bottom: 1px;
}

#packet_options p
{
	padding-left: 4px;
}

#packet_options
{
	margin: 4px;
	border: 1px black solid;
}

#packet_options p:nth-child(1) {
    display: inline-block;
    flex-direction: column;
    flex: 2;
}

#packet_options  p:nth-child(2){
    display: inline-block;
    flex-direction: column;
    flex: 7;
}

#packet_options p:nth-child(3){
    display: inline-block;
    flex-direction: column;
    flex: 1;
}

#tabbed_pane_payload p
{

	margin: 0; 
	padding: 0;
}

#sidebar {
	width: 18.5em;
}

#sidebar label {
	margin-top: 5px;
	margin-bottom: 5px;
}


#sidebar .checkbox 
{
	display: inline-block;
	position: relative;
	margin-bottom: 0;
	margin-top: 5px;
}

#sidebar .checkbox p {
	margin: 0;
	padding-top: 2px;
	display: inline-block;
}

#sidebar p {
	margin: 0;
	margin-left: 2px;
	margin-top: 5px;
}

#reset_button
{
	border-radius: 4px;
	border-width: 1px;
	border-color: black;
	background-color: #fff;
	color: black;
	margin-left: 13px;
	height: 23px;
	padding: 0 17px;
	align-items: center;
	text-transform: none;
}


.text-input-custom {
  border:1px solid;
  padding:1px 5px 1px 1px;
  background: white;
  height: 25px;
}

.text-input-custom  input {
  border:none;
  background:white;
  outline:none;
  width: 0;
}

.text-input-custom  span {
  cursor:pointer;
  width: 5px;
  padding-right: 5px;
  padding-top: 2px;
  margin-left: 1px;
  font-weight:bold;
}

#sidebar_block_size > div
{
	margin-left: 5px;
}

#chk_debug_option_block_auto {
	margin-left: auto;
	margin-right: auto;
}

#log_messages {
	margin: 4px;
	padding-bottom: 1px;
}

#log_messages p {
	padding-left: 4px;
}

.table-head {
	min-height: 18px;
	height: 18px;
	background-color: #aaa;
}
.table-head p, .table-head span{
	margin-right: 5px;
	font-weight: bold;
	display: inline-block;
	overflow-x: hidden;
	white-space: nowrap;
}

.table-body-row {
	display: flex;
}

.table-body-row p, .table-body-row span{
	margin-right: 5px;
	display: inline-block;
	overflow-x: hidden;
	white-space: nowrap;
}

#packet_options p:nth-child(1) {
    flex: 3.5;
}

#packet_options  p:nth-child(2){
	flex: 5.5 1;
}

#packet_options p:nth-child(3){
    flex: 1;
}

#log_messages p:nth-child(1) {
    width: 50px;
}

#log_messages  p:nth-child(2){
    width: 100px;
}

#log_messages p:nth-child(3){
    width: 50px;
}

#log_messages p:nth-child(4) {
    width: 65px;
}

#log_messages p:nth-child(5) {
    display: inline-block;
    flex-direction: column;
    flex: 1;
}

#log_messages p:nth-child(6) {
    display: inline-block;
    flex-direction: column;
    flex: 1;
}

#copper-overlay{
	position: fixed; 
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	background-color: #000; 
	opacity: 0.5; 
	z-index: 100;
}

#copper-overlay-content {
	position: fixed; 
	top: 25%; 
	bottom: 25%; 
	left: 25%; 
	right: 25%; 
	background-color: #FFF; 
	opacity: 1; 
	z-index: 101; 
	border-radius: 10px; 
	padding: 20px; 
	overflow: auto; 
}

#copper-overlay-content h1{
	margin-bottom: 10px; 
	font-weight: bold; 
	font-size: 20px; 
}

#copper-overlay-content p{
	margin-bottom: 10px; 
	font-size: 14px;
}

#copper-overlay-content .error-message {
	color: red;
}