/* General Settings and Classes */
html
{
	font-family: sans-serif;
}

label 
{
	display: inline-block;
	max-width: 100%;
	font-weight: bold;
}

img {
    vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
   min-width: 0;
   min-height: 0;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	display: block;
	font-family: sans-serif;
	color: #333333;
	font-size: 12px;
	background-color: #eee;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	line-height: 1.42857;
}

button
{
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

.white 
{
	background-color: white;
}

.border_solid
{
	border: 1px black solid;
}

/* Flex Boxes */
.vbox {
	display: flex;
	flex-direction: column;
}

.hbox {
	display: flex;
	flex-direction: row;
}

.flex, .flex-filler{
	flex: 1;
}

/* Tables */
.table {
	position: relative;
	overflow: hidden;
	margin: 4px;
	border: 1px black solid;
	display: flex;
	flex-direction: row;
}

.table-head-scrollbar{
	position: absolute;
	right: 0;
	top: 0;
	min-height: 18px;
	height: 18px;
	width: 17px;
	background-color: #aaa;
}

.table-head {
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	right: 17px;
	min-height: 18px;
	height: 18px;
	background-color: #aaa;
}

.no-scroll .table-head{
	right: 0;
}

.table-head > span{
	display: inline-block;
	vertical-align: middle;
	overflow-x: hidden;
	padding-left: 4px;
	padding-top: 1px;

	font-weight: bold;
}

.table-body {
	position: absolute;
	top: 18px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	overflow-y: scroll;
}

.no-scroll .table-body{
	overflow-y: hidden;
}

.table-body-row {
	display: flex;
	align-items: center;
}

.table-body-row > span
{
	display: inline-block;
	vertical-align: middle;
	overflow-x: hidden;
	padding-left: 4px;
	padding-top: 1px;
}

/* Others */
.no-wrap
{
	white-space: nowrap;
}

/* Container */
.main-container
{
	position: absolute;
	width: 100%;
	min-width: 980px;
	height: 100%;
	min-height: 600px;
}

/* Toolbar */
.main-toolbar {
	overflow: hidden;
	height: 35px;
	width: 100%;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}

.main-toolbar .toolbar-item
{
	display: inline-block;
	height: 100%;
}

.main-toolbar .border-right
{
	border-right: 1px black solid;
}

.main-toolbar button
{
	border-radius: 0px;
	border-width: 0px;
	border-color: black;
	background-color: #eee;
	color: black;
	height: 100%;
	font-size: 13px;
	padding-right: 5px;
	padding-left: 5px;
}

.main-toolbar button:not(.no-hover):hover
{
	background-color: #ddd;
}

.main-content
{
	position: absolute;
	width: 100%;
	top: 35px;
	bottom: 0;
}

.main-content > *{
	margin: 4px;
}

/* Status Box */
.main-content-top-box {
	height: 70px;
	min-height: 70px; 
	padding: 4px;
}

.main-content-top-box fieldset{
	border: 1px black solid;
	padding: 4px;
	background-color: silver;
}

.main-content-top-box legend {
	font-size: 14px;
}

.main-content-top-box label
{
	margin-left: 4px;
	font-size: 20px; 
	font-weight: bold;
	overflow: hidden;
}

/* Tree view */
.main-content .sidebar-left 
{
	width: 220px;
	border-right: 1px black solid;
	padding: 4px;
}

/* Packet in */
.main-content .center-box-top{
	min-height: 102px; 
	height: 102px;
}

/* Packet header table */
#copper-packet-header
{
	min-width: 200px;
	flex: 1;
}

#copper-packet-header .packet-header-element 
{
    min-width: 40px;
    flex: 1;
}

#copper-packet-header .packet-header-value 
{
	flex: 3;
}

/* Packet options table */
#copper-packet-options
{
	flex: 3;
}

#copper-packet-options .packet-option
{
    min-width: 90px;
    flex: 1;
}

#copper-packet-options .packet-value
{
	min-width: 90px;
	flex: 1;
}

#copper-packet-options .packet-raw
{
	flex: 1;
}

/* Payload */
.main-content .center-box-bottom
{
	position: relative;
}

.main-content .center-box-bottom > *
{
	margin: 4px;
}

.main-content .center-box-bottom h2
{
	font-size: 14px;
	padding-top: 4px;
}

.main-content .center-box-bottom .pane
{
	position: absolute;
	top: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 4px;
}

.main-content .center-box-bottom .innerpane
{
	width: 100%;
	height: 100%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 4px;
}

.main-content .center-box-bottom .visible
{
	display: block;
}

.main-content .center-box-bottom .hidden
{
	display: none;
}

/* Debug options */
.main-content .sidebar-right 
{
	width: 240px;
	border-left: 1px black solid;
	padding: 4px;
}

.main-content .sidebar-right  label {
	margin-top: 5px;
	margin-bottom: 5px;
}


.main-content .sidebar-right .checkbox 
{
	display: inline-block;
	position: relative;
	margin-bottom: 0;
	margin-top: 5px;
}

.main-content .sidebar-right .checkbox p {
	margin: 0;
	padding-top: 2px;
	display: inline-block;
}

.main-content .sidebar-right p {
	margin: 0;
	margin-left: 2px;
	margin-top: 5px;
}

#reset_button
{
	border-radius: 4px;
	border-width: 1px;
	border-color: black;
	background-color: #fff;
	color: black;
	margin-left: 13px;
	height: 23px;
	padding: 0 17px;
	align-items: center;
	text-transform: none;
}


.text-input-custom {
  border:1px solid;
  padding:1px 5px 1px 1px;
  background: white;
  height: 25px;
}

.text-input-custom  input {
  border:none;
  background:white;
  outline:none;
  width: 0;
}

.text-input-custom  span {
  cursor:pointer;
  width: 5px;
  padding-right: 5px;
  padding-top: 2px;
  margin-left: 1px;
  font-weight:bold;
}

#sidebar_block_size > div
{
	margin-left: 5px;
}

#chk_debug_option_block_auto {
	margin-left: auto;
	margin-right: auto;
}

/* Coap Message Log Box */
.main-content-bottom-box 
{
	height: 220px;
	min-height: 220px; 
	border-top: 1px black solid;
	position: relative;
}

.main-content-bottom-box h2 
{
	font-size: 14px;
	padding-left: 8px;
	padding-top: 4px;
}

.main-content-bottom-box .table 
{
	position: absolute;
	top: 25px;
	bottom: 0;
	left: 0;
	right: 0;
}

#copper-coap-message-log .coap-message-time 
{
	width: 55px;
	min-width: 55px;
}

#copper-coap-message-log .coap-message-type
{
	width: 40px;
	min-width: 40px;
}

#copper-coap-message-log .coap-message-code 
{
	width: 95px;
	min-width: 95px;
}

#copper-coap-message-log .coap-message-mid
{
	width: 65px;
	min-width: 65px;
}

#copper-coap-message-log .coap-message-token
{
	width: 90px;
	min-width: 90px;
}

#copper-coap-message-log .coap-message-options
{
	flex: 3;
	min-width: 280px;
}

#copper-coap-message-log .coap-message-payload
{
	flex: 4;
}

#copper-coap-message-log .sent
{
	background-color: #ACF;
}

#copper-coap-message-log .received
{
	background-color: #CFC;
}


#copper-overlay{
	position: fixed; 
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	background-color: #000; 
	opacity: 0.5; 
	z-index: 100;
}

#copper-overlay-content {
	position: fixed; 
	top: 25%; 
	bottom: 25%; 
	left: 25%; 
	right: 25%; 
	background-color: #FFF; 
	opacity: 1; 
	z-index: 101; 
	border-radius: 10px; 
	padding: 20px; 
	overflow: auto; 
}

#copper-overlay-content h1{
	margin-bottom: 10px; 
	font-weight: bold; 
	font-size: 20px; 
}

#copper-overlay-content p{
	margin-bottom: 10px; 
	font-size: 14px;
}

#copper-overlay-content .error-message {
	color: red;
}